version: "3.9"

services:

  backend:
    build: ./backend
    container_name: sentinel-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - neo4j
      - opensearch
      - redpanda
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
    container_name: sentinel-frontend
    ports:
      - "3000:5173"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run dev -- --host
    depends_on:
      - backend

  postgres:
    image: postgres:15
    container_name: sentinel-postgres
    environment:
      POSTGRES_DB: sentinel
      POSTGRES_USER: sentinel
      POSTGRES_PASSWORD: sentinel
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  neo4j:
    image: neo4j:5
    container_name: sentinel-neo4j
    environment:
      - NEO4J_AUTH=neo4j/eVANCE$1997
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_dbms_connector_bolt_listen__address=0.0.0.0:7687
      - NEO4J_dbms_connector_http_listen__address=0.0.0.0:7474
    ports:
      - "17474:7474"
      - "17687:7687"
    volumes:
      - neo4j_data:/data


  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: sentinel-opensearch
    environment:
      discovery.type: single-node
      plugins.security.disabled: "true"
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - opensearch_data:/usr/share/opensearch/data

  redpanda:
    image: redpandadata/redpanda:latest
    container_name: sentinel-redpanda
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "512M"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"
      - "9644:9644"

  redpanda-consumer:
    build: ./backend
    container_name: sentinel-redpanda-consumer
    command: python -m app.streaming.ingest_consumer --topics sentinel.ingest
    depends_on:
      - redpanda
      - postgres
    env_file:
      - .env
    environment:
      INGEST_CONSUMER_GROUP: sentinel-ingest-consumer
    volumes:
      - ./backend:/app
    restart: unless-stopped


volumes:
  postgres_data:
  neo4j_data:
  opensearch_data:
